/* custom css here*/
/* Custom CSS mostly for the sigma canvas position, header fields and html table*/

.rm-btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: #a7b8c4;
    padding: 0px 4px 0px 3px;
    text-decoration: none;
}

#abstractWrapper {
    margin-right: 50%;
    width: 58%;
    display: none;
}


#downloadWrapper {
    width: 52%;
    margin-left: 48%;
}

#exportButton {
    width:42%;
    margin-left: 50%;
}


#graphContainer {
    position: absolute;
    width: 83%;    /* need to leave some space for the remove buttons*/
    height: 100%;
    margin: auto;
}

#controlContainer {
    visibility: hidden;
    margin-top: 10px;
}

#htmlTableWrapper {
    width: 52%;
    margin-left: 48%;
    margin-top: 20px;
    background-color: transparent;
    position: absolute;
    display: none;
}

#graphTitle{
    font-size: 16px;
    color: black;

}